:root {
  --brightorange: hsl(31, 77%, 52%);
  --darkcyan: hsl(184, 100%, 22%);
  --verydarkcyan: hsl(179, 100%, 13%);
  --transparentwhite: hsla(0, 0%, 100%, 0.75);
  --verylightgray: rgb(242, 242, 242);
  --body-font: 'Lexend Deca', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--verylightgray);
  box-sizing: border-box;
}

#wrapper {
  width: 100vw;
  background-color: var(--verylightgray);
  display: flex;
  justify-content: center; 
  align-items: center;
}

#container {
  margin: 5rem 1.3rem 0;
  overflow: hidden;
  border-radius: .4rem;
  display: flex;
}

#container div {
  width: 225px;
  max-width: 225px;
  padding: 2.9rem;
}

#sedans {
  background-color: var(--brightorange);
}

#suvs {
  background-color: var(--darkcyan);
}

#luxury {
  background-color: var(--verydarkcyan);
}

button {
  border: .15rem solid var(--verylightgray);;
  outline: 0;
  background-color: var(--verylightgray);
  font-family: var(--body-font);
  font-size: 1rem;
  padding: .6rem 1.8rem;
  border-radius: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: inherit;
}

button:active {
  cursor: pointer;
  background-color: inherit;
}

#sedans button {
  color: var(--brightorange);
}

#suvs button {
  color: var(--darkcyan);
}

#luxury button {
  color: var(--verydarkcyan);
}

#sedans button:hover, #suvs button:hover, #luxury button:hover {
  color: var(--verylightgray);
}

#sedans button:active, #suvs button:active, #luxury button:active {
  color: var(--verylightgray);
}

img {
  max-width: 100%;
  height: auto;
}