h1 {
  margin: 1.8rem 0 0;
  color: rgb(242, 242, 242);
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: .04rem;
}

p {
  margin: 1.8rem 0 1.7rem;
  color: var(--transparentwhite);
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.7;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}